<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap uap3">

  <Identity
    Name="f2986b9a-a918-4ecd-b03f-5b9f9ce03ea8"
    Publisher="CN=Tutorialr"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="f2986b9a-a918-4ecd-b03f-5b9f9ce03ea8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Countdown.Widget</DisplayName>
    <PublisherDisplayName>Tutorialr</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
		AppListEntry="none" 
        DisplayName="Countdown.Widget"
        Description="Countdown.Widget"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="Countdown.Widget.exe"
						DisplayName="Countdown Widget">
						<com:Class Id="f2986b9a-a918-4ecd-b03f-5b9f9ce03ea8"
						DisplayName="Countdown Widget" />
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>
			<uap3:Extension Category="windows.appExtension">
				<uap3:AppExtension Name="com.microsoft.windows.widgets"
					DisplayName="Countdown Widget"
					Id="CountdownWidget"
					PublicFolder="Public">
					<uap3:Properties>
						<WidgetProvider>
							<ProviderIcons>
								<Icon Path="Assets\StoreLogo.png" />
							</ProviderIcons>
							<Activation>
								<CreateInstance ClassId="f2986b9a-a918-4ecd-b03f-5b9f9ce03ea8" />
							</Activation>
							<Definitions>
								<Definition Id="CountdownWidget"
									DisplayName="Countdown Widget"
									Description="Countdown Widget"
									IsCustomizable="true">
									<Capabilities>
										<Capability>
											<Size Name="medium" />
										</Capability>
									</Capabilities>
									<ThemeResources>
										<Icons>
											<Icon Path="Assets\LockScreenLogo.scale-200.png" />
										</Icons>
										<Screenshots>
											<Screenshot Path="Assets\Square150x150Logo.scale-200.png" />
										</Screenshots>
										<DarkMode />
										<LightMode />
									</ThemeResources>
								</Definition>
							</Definitions>
						</WidgetProvider>
					</uap3:Properties>
				</uap3:AppExtension>
			</uap3:Extension>
		</Extensions>
	</Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
